/* Variables
*/

/*$brand-primary: #C0006D;
$brand-secondary: #ff0e97;
$brand-dark: #283142;
$brand-black: #1A171B;
$brand-white: #F7EAF1;
$brand-warning: #FABC41;
$brand-success: #4EB7AB;
$brand-info: #70A1D7;
$brand-softpink: mix(white, $brand-primary);
$link-color: $brand-primary;

$input-padding-x: .75rem;
$input-padding-y: .5rem;
$input-padding-x-sm: .5rem;
$input-padding-y-sm: .25rem;
$input-padding-x-lg: 1.25rem;
$input-padding-y-lg: .75rem;
$input-color-placeholder: rgba(black, .25);
$input-border-color: rgba(black, .15);*/

$font-family-sans-serif: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: Assistant;
$headings-font-weight: 700;
$headings-line-height: 1.3;

$enable-flex: true;
$ease-elastic: cubic-bezier(0.34,1.61,0.7,1);
$ease-elastic-back: cubic-bezier(0.34,-0.61,0.7,1);
$ease-in-back: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$fa-font-path: 'vendor/font-awesome/fonts/';

/* Merge with bootstrap
*/

@import 'public/vendor/bootstrap/scss/bootstrap';
@import 'public/vendor/font-awesome/scss/font-awesome';

/* Actual styles
*/

body {
	margin: 15px 0;

	@include media-breakpoint-up(lg) {
		margin: 10vh 0;
	}
}

h1 {
	font-family: consolas, monospace;
	font-weight: 700;
	margin-bottom: 5vh;
	display: inline-block;
	font-size: 2rem;
	letter-spacing: -.075em;

	@include media-breakpoint-up(sm) {
		font-size: 3rem;
	}

	@include media-breakpoint-up(lg) {
		font-size: 5rem;
	}

	div {
		display: inline-block;
		color: $brand-warning;
	}
}

#ohsnap {
	position: fixed;
	z-index: 1;
	right: 15px;
	top: 15px;

	@include media-breakpoint-up(lg) {
		right: 5vh;
		top: 5vh;
	}

	.alert {
		padding: 15px;
		margin-bottom: 20px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 15px rgba(0, 0, 0, .025);
		border-radius: 4px;
		bottom: 0px;
		right: 21px;
		float: right;
		clear: right;
		background-color: white;

		&.alert-red {
			color: white;
			background-color: $brand-danger;
		}
		
		&.alert-green {
			color: white;
			background-color: $brand-success;
		}

		&.alert-blue {
			color: white;
			background-color: $brand-primary;
		}

		&.alert-orange {
			color: white;
			background-color: $brand-warning;
		}
	}
}

.grid-sizer {
    position: absolute;
}

.row-masonry {
	> div {
		margin-bottom: 30px;
	}

	.offer {
		.card {
			img {
				width: 100%;
				background-color: $brand-warning;
			}

			.card-text {
				max-height: 20vh;
				overflow: hidden;
				position: relative;

				&.card-text-overflow {
					position: relative;

					&:before {
						content: '';
						position: absolute;
						bottom: 0;
						width: 100%;
						height: 33%;
						background: linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .5));
						pointer-events: none;
					}

					&.more {
						max-height: initial;
						&:before {
							display: none;
						}
					}
				}
			}

			.footer {
				position: relative;
				text-align: right;

				small {
					position: absolute;
					bottom: 0;
					left: 0;
					opacity: .75;
				}
			}

			&.card-inverse {
				a.btn {
					@include button-variant($btn-primary-color, darken($brand-primary, 10%), $btn-primary-border);
				}

				&:before {
					@include button-variant($btn-danger-color, $brand-danger, $btn-danger-border);
					content: 'NEW';
					position: absolute;
					right: 0;
					top: 0;
					transform: translate(15%, -15%) scale(1);
					border-radius: 4px;
					color: #fff;
					box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.15);
					color: white;
					padding: 10px 15px;
					font-weight: 600;
					letter-spacing: 1px;
					cursor: default;
				}
			}
		}
	}
}